* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d4d3d3;
}

.contenedor {
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.3s, box-shadow 0.3s;
}

h1 {
    margin-bottom: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: #ccc;
    /* transform: scale(1.05); */
}

#listaUsuarios {
    margin-top: 25px;
}

.usuario {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
